.idea
.ipynb_checkpoints
*.pyc
*.xlsx
*.csv
*.npy
.vscode
data
tmp
model
notebooks/*.xlsx
*.png
notebooks/*.csv
synonym_webservice/synonyms_module/models/*
synonym_webservice/synonyms_module/models_big/*
notebooks/Parsed_sentences/*
notebooks/big_dataset_distributed/*
notebooks/folder_with_interventions/*
webscrapping_webservice/node_modules/*
webscrapping_webservice/model/*
webscrapping_webservice/tmp/*
webscrapping_webservice/webscrapping_webservice_env/*
synonym_webservice/node_modules/*
synonym_webservice/synonyms_module/models/*
synonym_webservice/synonym_webservice_env/*
src/RAKE/*
edit_webservice/env

